{% extends 'base.html' %}
{% block title %}Лабораторна робота №1. Шифри заміни.{% endblock title %}
{% block content %}
<div class="row">
    <center>
    <h2>Лабораторна робота №1</h2>
    <h3>Шифри заміни</h3>
    </center>
</div>
<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s4"><a {% if last_action == "additive" or last_action == "radditive" %}class="active"{% endif%} href="#additive">Адитивний</a></li>
        <li class="tab col s4"><a {% if last_action == "mult" or last_action == "rmult" %}class="active"{% endif%} href="#mult">Мультиплікативний</a></li>
        <li class="tab col s4"><a {% if last_action == "affine" or last_action == "raffine" %}class="active"{% endif%}href="#affine">Аффінний</a></li>
      </ul>
    </div>
    <div id="additive" class="col s12">
        <div class="row">
            <div class="col s6 amber lighten-5">
                <h5 class="center-align">Зашифровування</h5>
                <form method="POST">
                    <div class="input-field col s12">
                        <input id="add-key" step="1"
                            name="additive_key" type="number" class="validate"
                            value="{{additive_key}}">
                        <label for="add-key">Ключ</label>
                    </div>
                    <div class="input-field col s12">
                        <textarea id="add-data" name="additive_data" class="materialize-textarea validate">{{additive_data}}</textarea>
                        <label for="add-data">Текст для шифрування</label>
                    </div>
                    <input type="hidden" name="action" value="additive">
                    <center>
                        <input type="submit" class="waves-effect waves-light btn" value="Зашифрувати"/>
                    </center>
                </form>
                {% if additive_result %}
                <hr>
                <div class="row">
                    <br>
                    <div class="col s12">
                        <center>Результат:</center>
                        <p>{{additive_result}}</p>
                    </div>
                    
                </div>
                {% endif %}
            </div>
            <div class="col s6 lime lighten-5">
                <h5 class="center-align">Розшифровування</h5>
                <form method="POST">
                <div class="input-field col s12">
                    <textarea id="radd-data" name="radditive_data" class="materialize-textarea validate">{{radditive_data}}</textarea>
                    <label for="radd-data">Текст для розшифрування</label>
                </div>
                <input type="hidden" name="action" value="radditive">
                <center>
                    <input type="submit" class="waves-effect waves-light btn" value="Розшифрувати"/>
                </center>
                </form>
                {% if radditive_result %}
                <hr>
                <div class="row">
                    <br>
                    <div class="col s12">
                        <center>Результат:</center>
                    </div>
                    <div class="col s12">
                        {% for result in radditive_result %}
                        <div class="col s12">
                            <p>Ключ: {{result.0}}</p>
                            <p>Результат: {{result.1}}</p>
                        </div>
                        <hr>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>


    <div id="mult" class="col s12">
        <div class="row">
            <div class="col s6 amber lighten-5">
                <h5 class="center-align">Зашифровування</h5>
                <form method="POST">
                    <div class="input-field col s12">
                        <input id="mult-key" step="1"
                            name="mult_key" type="number" class="validate"
                            value="{{mult_key}}">
                        <label for="mult-key">Ключ</label>
                    </div>
                    <div class="input-field col s12">
                        <textarea id="mult-data" name="mult_data" class="materialize-textarea validate">{{mult_data}}</textarea>
                        <label for="mult-data">Текст для шифрування</label>
                    </div>
                    <input type="hidden" name="action" value="mult">
                    <center>
                        <input type="submit" class="waves-effect waves-light btn" value="Зашифрувати"/>
                    </center>
                </form>
                {% if mult_result %}
                <hr>
                <div class="row">
                    <br>
                    <div class="col s12">
                        <center>Результат:</center>
                        <p>{{mult_result}}</p>
                    </div>
                    
                </div>
                {% endif %}
            </div>
            <div class="col s6 lime lighten-5">
                <h5 class="center-align">Розшифровування</h5>
                <form method="POST">
                <div class="input-field col s12">
                    <textarea id="rmult-data" name="rmult_data" class="materialize-textarea validate">{{rmult_data}}</textarea>
                    <label for="rmult-data">Текст для розшифрування</label>
                </div>
                <input type="hidden" name="action" value="rmult">
                <center>
                    <input type="submit" class="waves-effect waves-light btn" value="Розшифрувати"/>
                </center>
                </form>
                {% if rmult_result %}
                <hr>
                <div class="row">
                    <br>
                    <div class="col s12">
                        <center>Результат:</center>
                    </div>
                    <div class="col s12">
                        {% for result in rmult_result %}
                        <div class="col s12">
                            <p>Ключ: {{result.0}}</p>
                            <p>Результат: {{result.1}}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>


    <div id="affine" class="col s12">
        <div class="row">
            <div class="col s6 amber lighten-5">
                <h5 class="center-align">Зашифровування</h5>
                <form method="POST">
                    <div class="input-field col s12">
                        <input id="affine-key" step="1"
                            name="affine_key" type="number" class="validate"
                            value="{{affine_key}}">
                        <label for="affine-key">Ключ 1</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="affine-key-2" step="1"
                            name="affine_key2" type="number" class="validate"
                            value="{{affine_key2}}">
                        <label for="affine-key-2">Ключ 2</label>
                    </div>
                    <div class="input-field col s12">
                        <textarea id="affine-data" name="affine_data" class="materialize-textarea validate">{{affine_data}}</textarea>
                        <label for="affine-data">Текст для шифрування</label>
                    </div>
                    <input type="hidden" name="action" value="affine">
                    <center>
                        <input type="submit" class="waves-effect waves-light btn" value="Зашифрувати"/>
                    </center>
                </form>
                {% if affine_result %}
                <hr>
                <div class="row">
                    <br>
                    <div class="col s12">
                        <center>Результат:</center>
                        <p>{{affine_result}}</p>
                    </div>
                    
                </div>
                {% endif %}
            </div>
            <div class="col s6 lime lighten-5">
                <h5 class="center-align">Розшифровування</h5>
                <form method="POST">
                <div class="input-field col s12">
                    <textarea id="raffine-data" name="raffine_data" class="materialize-textarea validate">{{raffine_data}}</textarea>
                    <label for="raffine-data">Текст для розшифрування</label>
                </div>
                <input type="hidden" name="action" value="raffine">
                <center>
                    <input type="submit" class="waves-effect waves-light btn" value="Розшифрувати"/>
                </center>
                </form>
                {% if raffine_result %}
                <hr>
                <div class="row">
                    <br>
                    <div class="col s12">
                        <center>Результат:</center>
                    </div>
                    <div class="col s12">
                        {% for result in raffine_result %}
                        <div class="col s12">
                            <p>Ключ 1: {{result.0}} || Ключ 2: {{ result.1 }}</p>
                            <p>Результат: {{result.2}}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
    $('ul.tabs').tabs();
});
</script>


{% endblock content %}
