<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Лабараторна робота №6. Алгоритм Ель-Гамаля.</title>
</head>
<body>

    <form action="" method="post">
        <label for=""></label>
        <input type="number" name="" id="el-gamal-file">
        <label for=""></label>
        <input type="number" name="" id="el-gamal-p">
        <label for=""></label>
        <input type="file" name="" id="el-gamal-g">
        <label for=""></label>
        
        <input type="number" name="" id="">
        <label for=""></label>
        <input type="number" name="" id="">
        <label for=""></label>
        <input type="number" name="" id="">

    </form>
</body>
</html>
