{% extends 'base.html' %}

{% block content %}

<div class="container green">
    <div class="row blue lighten-5">
    <div class="col s12">
        <center><h3>Захист інформації</h3><h5>від Олексія Лук'янчука</h5></center>
        <p>Меню:</p>
        <ul>
            <li><a href="/lab/1">Лабораторна №1. Шифри заміни.</a></li>
            <li><a href="/lab/2">Лабораторна №2. Шифр Плейфейра та подвійного квадрата.</a></li>
            <li><a href="/lab/3">Лабораторна №3. Шифр Віженера.</a></li>
        </ul>
    </div>
    </div>
</div>


{% endblock content %}